body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: 2em solid #69D4CD;
    border-radius: 10px;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
   
}

.userData{
    display: flex;
    border-radius: 10px;
    
    


}
.titulo{
    background-color: rgb(231, 231, 82);
    color: white;
    padding: 0.2em;
    font-size: 3em;
    

}
.FormLogin, .loginFormLogin{
    margin-left: 10px;
}


.name, 
.nickName, 
.email, 
.password{
    font-size: 1.3em;
    margin: 9px; 
    color: rgb(15, 14, 14);
}
.registerNameLogin, 
.nickNameLogin, 
.emailLogin, 
.passwordLogin{
    display: flex;
    text-align: justify;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #050f02;
    outline:none;
    box-sizing: border-box;
    border-radius: 5px;
}
.submit-register{
    display: flex;
    text-align: center;
    margin: 2em;
    padding: 5px;
    background-color: #69D4CD;
    border-color: #69D4CD;
    border-radius: 5px;
    width: 9.3125em;
    height: 2.0625em;
    
}
.boton{
    display: flex;
    margin: 2em;
    padding: 5px;
    border-radius: 5px;
    width: 9.3125 em;
    height: 2.0625em;
    left: 7.0625em;
    top: 21.3125em;
    text-align: center;
}
 .registrate{
     color: blue;

 }
.imagen{
    display: flex;
    width: 4em;
}

footer{
    background: rgb(231, 231, 82);
    color: white;
    padding: 0.2em;
    text-align: center;
  
}

.boton {
    display: flex;
    font-size: 1em;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    background-color: #fbf5f5;
    margin: 5px; 
    transition: all 0.5s;
    cursor: pointer; 


}
 
.boton2 {
    
    display: flex;
    font-size: 1em;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    background-color: #f3faf3;
    margin: 5px;  
    transition: all 0.5s;
    cursor: pointer;



  
  /* medidas  (mobile 425px)*/
  @media (max-width: 425px) {
    body {
      font-size: 10px;
      text-align: center;
      
    }
    
}    

  
