body{
    background-color: #69D4CD;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    font-size: 12px;
   }
.mainclass{   
    background-color: white;    
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                        "contenedor contenedor contenedor"
						 "ultimo ultimo ultimo "
						 "footer footer footer";
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: contenedor;
}
.header{
    align-items: center;
    width: 12.9em; 
    height: 3.5em;   
    background-color: #EAF28B;
    margin-bottom: 3em;
    border-radius: 5px;
    grid-area: header;
}
.logo{
    width: 20%;
    float:left;
    filter: brightness(1.1);
    mix-blend-mode:multiply;
    padding-left: 0.3em;
    padding-top: 0.3em;
}
h1{
    color: #ffff;
    font-size: 2em;
    margin-top: 0.3em;
    margin-left: 0.3em;
    margin-right: 0.2em;
}
.FormLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerNameLogin,  
.emailLogin, 
.passwordLogin{
    width: 15em;
    padding: 7px;
    border: 1px solid #050f02;
    border-radius: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}    
.boton{
    width: 9.37em;
    margin: 0.93em;
    padding: 0.62em;
    background-color: #69D4CD;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
}
.botonGoogle{
    width: 11em;
    margin: 0.93em;
    padding: 0.62em;
    border: none;
    margin-top: 0.5em;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #69D4CD;
    border-radius: 5.56em;  
}
p{
    color: blue;
    font-weight: bold;
    margin: 0;
}
.botonRegister{
    width: 11.87em;
    padding: 0.8em;
    border: 1px solid;
    margin-top: 0.7em;  
    transition: all 0.5s;
    cursor: pointer;
    background-color:#f4fdfd;
    border-radius: 0.5em;  
    text-align: center;
}
.ultimo{
    grid-area: ultimo;
}
.ultimo h4{
    text-align: center;    
    visibility:hidden;
}
.imagen{
    width: 12.em;
}
.img{
    width: 100%;
}
footer{
    background: #337c77;
    /*opacity: 0.8;*/
    font-size: 0.8em; 
    color: white;
    padding: 0.2em;
    text-align: center; 
    border-radius: 5px;
    grid-area: footer;
    
    
}
/*----hoja register------*/
.mainclassRegister{   
    background-color: white;    
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
}
    
.contenedorRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.contenedorRegister input, .botonRegister{

margin-top: 2em;

}

.imagenRegister{

    width: 12.em;
    margin-top: 6em;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
} 
.show{
    pointer-events: auto;
    opacity: 1;
}
.modal {
    background-color: #fff;
    width: 37.5em;
    max-width: 100%;
    padding: 1.87em 3.12em;
    border-radius: 0.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#close{
    display: inline-flex;
    margin: 2em;
    background-color: #69D4CD;
    border-color: #69D4CD;
    border-radius: 0.3em;
    width: 9 em;
    height: 2 em;
    flex-direction: column-reverse;
    justify-content: center;
}

/*------------hoja de post-----------------*/

.mainclasPost{
    display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
    grid-template-areas: "task-form task-form"
                        "tasks-container tasks-container";						 						 
}

#task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: task-form;
}


.btnCerrar{
    color: rgb(5, 5, 5);
    font-family: 'Satisfy', cursive;
    font-size: 0.8em;
    border-radius: 1em;
    align-items:flex-start;
    margin-right: -30em;
    padding: 0.6em;
    text-decoration: none;
    background-color: #e0eb4c;
    cursor: pointer;
    box-shadow: 0 0 10px #cedb5b, 0 0 40px #cedb5b, 0 0 80px #cedb5b;
}

    
.nombrePost, .comentarioPost{
    background-color: white;
    opacity: 0.7;
    border-radius: 0.5em;
    padding: 0.62em;
    margin: 0.5em;
    width: 15em;   
    align-items: center;
    flex-direction: column;
    display: flex;
}

#btn-task-save{

    background-color: white;
    opacity: 0.7;
    border-radius: 0.5em;
    padding: 0.62em;
    margin: 1em;
    

}

/*-----------Diseño de contenedor de post-------------*/

#tasks-container {
    width: 90%;
    height: 40em;
    overflow-y: scroll;
    border: 10px solid white;
    border-radius: 1.87em;
    padding: 0.62em;
    margin: 0,5em;
    display: flex;
    flex-direction: column;
    align-items: center; 
    grid-area: tasks-container; 

  }

  /*------------Scroll Personalizado-------------- */
  #tasks-container::-webkit-scrollbar {
    width: 1.25em;
    background: gainsboro;
    border-radius: 0.93em 2.5em 2.5em 0.93em;
  }
  
  #tasks-container::-webkit-scrollbar-thumb {
    background: rgb(231, 231, 82);
    border-radius: 2.18em;
  }

  .postPublicado{

    margin: 1em;
    background-color: white;
    opacity: 0.7;
    border-radius: 1.10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  
}

.postPublicado textarea{

    border: none;
    background-color: rgb(245, 245, 8);
}

 .fecha{
    font-weight: lighter;
}

.nombreUsuario,.titlePost{

    font-weight: bold;
    text-align: center;
    
}



.commentDone{

    background-color: white;
    opacity: 0.9;
    border-radius: 1.10em;
    padding: 0.90em;
    width: 80%;
    height: 5em;
    margin: 1em;
}


@media screen and (min-width: 425px){
    body{            
        font-size: 14px;
    }

	/* .mainclass{   
        grid-template-areas: "ultimo ultimo contenedor "
						    "footer footer footer";

    }
    .contenedor{
        background-color: #69D4CD;
        border-radius: 3em;
        padding: 2em;
    }

    .ultimo{
        display: inline-block;
        align-content: center;
        height: 70vh;
	         
    }   */

    
  
@media screen and (min-width: 768px){
    body{
        background-color: white;
        margin: 30px;
        font-size: 16px;
    }
	.mainclass{   
        grid-template-areas: "ultimo ultimo contenedor "
						    "footer footer footer";
    }
    .contenedor{
        background-color: #69D4CD;
        border-radius: 1.5em;
        padding: 2em;
    }
    .emailLogin, 
    .passwordLogin{
        border:none;
    }
    .boton,
    .botonGoogle{
        background-color: white;
        opacity: 0.7;      
    }
    .ultimo{
        display: inline-block;
        align-content: center;
        height: 80vh;
    }  
    
    .ultimo h4{
        text-align: center;
        font-size: 1.5em;
        visibility:visible;
    }


    .mainclassRegister{   
        background-color: #fff
        
       
        
    }
        
    .contenedorRegister{
        background-color: #69D4CD;
        border-radius: 1em;
        padding: 3em;
    }
    
    .registerNameLogin{
     
   border: none;
}   
.mainclasPost{
        padding: 2em;
        grid-template-areas: "task-form tasks-container"
                             "task-form tasks-container";

}

#task-form{
    background-color: #fff;
    border: 20px solid #69D4CD;
    width: 50%;
    height: 60%;
    margin-top: 8em;
    border-radius: 1em;
    
    
}

#tasks-container{

    background-color: #69D4CD;
    border-radius: 2em;
}
/*    
    }
    
       
        
    }
    .mainclass{
        display: inline-block;
      
    }
}
/*
@media screen and (min-width: 768px){
    h2{
        font-family: 'Roboto', sans-serif;
        font-size: large;
    }

}
@media screen and (min-width: 1024px){

} */
}}