body{
    background-color: #85e9d8;
    
    font-family: 'Fira Code', monospace;
    }
#root{
    display: flex;
    
}

.FormLogin, .loginFormLogin{
    margin-left: 10px;
}
.name, .nickName, .email, .password{
    font-size: 1.3em;
    margin: 12px; 
    color: rgb(15, 14, 14);
}
.registerNameLogin, .nickNameLogin, .emailLogin, .passwordLogin{
    font-family:'Fira Code', monospace;
    display: flex;
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    border-radius: 7px;
    border-color: #050f02;
    background-color: #ecdb7a;
    outline:none;
    margin: 7px;  
}

.emailLogin::placeholder{
    color:#050205;
    font-style: italic;
}
.passwordLogin::placeholder{
    color:#000000;
    font-style: italic;
}

.boton {

    
    display: flex;
    font-size: 1em;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    background-color: #fbf5f5;
    margin: 5px; 
    transition: all 0.5s;
    cursor: pointer; 


}
 
.boton2 {
    
    display: flex;
    font-size: 1em;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    background-color: #f3faf3;
    margin: 5px;  
    transition: all 0.5s;
    cursor: pointer;

}
.submit-register{

    display: flex;
    font-size: 1em;
    padding: 1px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    background-color: #f3faf3;
    margin: 5px; 
    transition: all 0.5s;
    cursor: pointer; 
}
  
